.custom-button {
  --background: rgb(244, 7, 7);
  --color: white;
    height: 100px; /* Ajusta la altura según tus necesidades */
    width: 150px;
}

.bod{

  padding: 10px;

}

.ion-grid {
  --ion-grid-padding: 20px;
}
